<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartHonkingZone_Speed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCorporationData</display-name>
    <servlet-name>AddCorporationData</servlet-name>
    <servlet-class>com.services.AddCorporationData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCorporationData</servlet-name>
    <url-pattern>/AddCorporationData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorporationLogin</display-name>
    <servlet-name>CorporationLogin</servlet-name>
    <servlet-class>com.services.CorporationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorporationLogin</servlet-name>
    <url-pattern>/CorporationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHonkingArea</display-name>
    <servlet-name>AddHonkingArea</servlet-name>
    <servlet-class>com.services.AddHonkingArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHonkingArea</servlet-name>
    <url-pattern>/AddHonkingArea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateHonkingArea</display-name>
    <servlet-name>updateHonkingArea</servlet-name>
    <servlet-class>com.services.updateHonkingArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateHonkingArea</servlet-name>
    <url-pattern>/updateHonkingArea</url-pattern>
  </servlet-mapping>
</web-app>